h1{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    padding:0;
    margin:0;
    background-color: whitesmoke !important;
    /* background-color: whitesmoke; */
    /* background-image: linear-gradient(to bottom, #f5f5f5, #f3f3f3, #f1f1f1, #efefef, #ededed, #ededed, #ededed, #ededed, #efefef, #f1f1f1, #f3f3f3, #f5f5f5); */
}